<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Get the public holidays from any country</h1>
    <form action="/results">
        <label for="">
            Year:
            <input type="number" name='year'>
        </label>
        <label for="">
            Country Code (ie. AU, US, ARG)
            <input type="text" name='country'>
        </label>
        <button>Get Country Holidays</Button>
    </form>

</body>
</html>