<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Public Holidays</h1>
    <ul>
      
        <% data.forEach(date => { %>
            <li>
            <span>Public Holiday: <%= date.localName %> </span>
            <span>Date: <%= date.date %></span>
            </li>
           
        <% }) %>
    </ul>
</body>
</html>