<img src="/assets/magic8.png" alt="Magic 8 Ball">
<form action="/magic/result">
  <label>
    Put your question here:
    <input type="text" placeholder='What is being?' name='question'>
  </label>
  <button>Submit</button>
</form>
