body {
  background-color: #006699;
  align-content: center;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}


h1 {
  display: block;
  color: #CACCCE;
  text-align: : center;
  font-family: 'Cinzel', serif;
  font-size: 3em;
}

h2 {
  color: #313335;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.3em;
  font-weight: bolder;
}

h3 {
  color: #CACCCE;
  font-family: 'Montserrat', sans-serif;
}

p {
  color: #313335;
  font-family: 'Montserrat', sans-serif;
}

#header {
  display: block;
  text-align: center;
}

#bookimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

#booktitle, #search {
  border-radius: 1em;
}

img {
  max-width: 100%;
  align: center;
}
