/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html {
    background-image: url('bkg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

body {
    height: 100%;
    background: transparent!important;
}

.container {
    margin-top: auto;
    margin-bottom: auto;
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
}

.center {
    margin: auto;
    width: 60%;
    border: 5px solid #FFFF00;
    padding: 10px;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.result {
    padding: 1rem;
    background-color: red;
    margin: 2rem 0;
    color: white;
    border-radius: 5px;
}