<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Testicles</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Testicles</h1>
    <form action="/result">
      <label>
        Which stonk would you like to check?
        <input name="stock" placeholder="What stock, sir?" autofocus>
      </label>
      <button type="button" name="button">Search!</button>
    </form>
  </body>
</html>
