<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%-  include('partials/head') %>
  <body>
    <%-  include('partials/nav') %>
    <h1><%= symbol %> is currently stonking at $<%= price %> </h1>
  </body>
</html>
