<h1>Rock, Paper, Scissors</h1>

<form action='/rock_paper_scissors/result'>
  <label>Make a choice: </label>
  <select name='player_choice'>
    <option value='rock'>Rock</option>
    <option value='paper'>Paper</option>
    <option value='scissors'>Scissors</option>
  </select>
  <button>Show me what you got!!</button>

</form>
