<h1>Rock, Paper, Scissors</h1>

<h5>Your choice was: <%= @player_choice %></h5>

<h5>I chose: <%= @choice %></h5>

<h5>The result is: <%= @message %></h5>

<a href='/rock_paper_scissors'>Play again</a>
