<h1>Welcome to Games on Rails</h1>
<div>
  <a href="/magic-8-ball"><span>Magic 8 Ball</span></a>
</div>
<div>
  <a href="/secret-number"><span>Secret Number</span></a>
</div>
<div>
  <a href="/rock-paper-scissors"><span>Rock Paper Scissors</span></a>
</div>