<!-- this content is displayed on the home page -->

<p>This is whats going to appear on the page</p>

 <form action="solution" >
  <label>
    <input name="book_title" placeholder="Ulysses">
  </label>
  <button>Get Book info</button>
 </form>
