<h1>Add A New Book</h1>

<form action="/books" method="post">
  <label>
    Name:
    <input name="book" placeholder="..." required>
  </label>

  <label>
    Genre:
    <input name="genre" placeholder="..." required>
  </label>

<button>Add Book</button>
</form>
