<h1>answer</h1>
<% answer_array = ['As i see it, yes', 'Ask again later','Better no tell you now', 'Cannot predict now', 'Concentrate and ask again', 'It is certain', 'It is decidely so', 'Most likely', 'My reply is no', 'My sources say no', 'Very doubtful', 'Without a doubt', 'Yes', 'Rely on it'] %>
<% finalanswer = answer_array.sample %>
<%= finalanswer %>