<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Pair Programming Bot</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>

    <main>
      <%= yield %>
    </main>

  </body>
</html>
