<h1>Add a new guitar</h1>

<form action="/guitars" method="post">
  <label>
    Brand:
    <input name="brand" placeholder="fender" required>
  </label>
  <label>
    Model:
    <input name="model" placeholder="stratocaster">
  </label>
  <label>
    Image:
    <input type="url" name="image" placeholder="http://...">
  </label>

  <button>Add guitar</button>
</form>
