<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Guitars</title>
  <link rel="stylesheet" href="/css/guitars.css">
</head>
<body>

  <div class="container">
      <nav>
        <a href="/guitars">All guitars</a>
        <a href="/guitars/new">New guitar</a>
      </nav>
      <%= yield %>
    </div>

</body>
</html>
