/*

## Style Hints:

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/

body {
  font-size: 12px;
  line-height: 17px;
  font-family: "Times New Roman", serif;
  color: #656565;
}

div {
  margin-left: 5%;
  width: 960px;
}

h1 {
  font-size: 40px;
  color: #989898;
}

h2 {
  font-weight: 900;
}

p {
  letter-spacing: 0.7px;
  line-height: 1.8;
  text-align: justify;
  margin-top: 0;
}

a {
  color: #007799;
  text-decoration: none;
  margin-bottom: 0;
}

a:hover {
  color: #20222a;
}

.press {
  border: 5px solid #cbcbcb;
  padding: 1px;
