<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ISS</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h2>where is the iss now:</h2>
    <p>latitude: <%= issLat %></p>
    <p>longitude: <%= issLon %></p>

    <h2>people in space:</h2>
  
  </body>
</html>
