<h1>Magic 8 Ball</h1>
<h2>Welcome to the magical future telling 8 Ball</h2>
<form action="/magic-8-ball/result" method="get">
  <label>
    What is your question?
    <input type="search" name="question" required>
    <button>Ask</button>
  </label>
</form>
