<h1>Rock Paper Scissors</h1>

  <form action="/rock_paper_scissors/throw">
      <h2>Choose your weapon: </h2>
    <label>
      <input type="text" name="throw" placeholder="rock, paper or scissors">
    </label>
  <button>Choose</button>
</form>
