<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="authors.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Imbue&display=swap" rel="stylesheet">
  <title>Document</title>
</head>
<body>

  <nav>
    <a href="/authors_new">Add an Author</a> <span>   ||</span>
    <a href="/authors">View All Authors</a>
    |
    <a href="/books/new">Add a Book</a>
    <a href="/books">View All Books</a>
  </nav>
  <div class="container">

  <%= yield %>
  </div>
</body>
</html>
