<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Stock Search Result</title>
  </head>
  <body>
    <h3>You have searched for <%= stock %>.</h3>
    <h3>The current price of <%= stock %> is <%= price %>.</h3>
  </body>
</html>
