<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Search for Stock Price</title>
  </head>
  <body>
    <h1>Stock Price Search</h1>
    <form action="/result">
      <label>
        Stock Code:
        <input type="text" name="stock" placeholder="GOOG">
      </label>
      <button>Search</button>
    </form>
  </body>
</html>
