<div id="main">
<h1>Magic 8 ball</h1>
<form action="">
  <label>
  <input type="text" name="quetion"placeholder="Enter your quetion here"><br><br>
  <button>Answer/Reset</button>
  </label>
  <br>
  <label>
    <div class="answer" name="answer">
      <%= @answer %>
    </div>
  </label>
</form>
</div>
