<div class="form">
  <h1>New Inventory</h1>

  <form action="/inventory" method="post">
    <label> Name:
      <input type="text" name="name" placeholder="Name of Product">
    </label>
    <label> Description:
      <input type="text" name="description" placeholder="Description of Product">
    </label>
    <label> Manufacturer:
      <input type="text" name="manufacturer" placeholder="Product Manufacturer">
    </label>
    <label> Quantity:
      <input type="number" name="qty" placeholder="Quantity">
    </label>
    <label> Price:
      <input type="number" name="price" placeholder="$">
    </label>
    <label> Stocked Year:
      <input type="number" name="stocked_year" placeholder="Year">
    </label>
    <label> Image URL:
      <input type="text" name="image" placeholder="http://">
    </label>
    <button>Add To Inventory</button>
  </form>
</div>