<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Amazon.com.au</title>
  <link rel="stylesheet" href="/css/amazon.css">
</head>
<body>
  <img id="amazon-logo" src="/images/amazon-au-logo.jpg" alt="Amazon Logo">
  <nav>
    <a href="/">Home</a>
    <a href="/inventory">Inventory</a>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>