<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Musicians</title>
  <link rel="stylesheet" href="/css/musicians.css">
</head>
<body>
  <div class="container">
       <a href="/musicians">Index of All Musicians</a>
       <a href="/musicians/new">Add Musician</a>
       <%= yield %>

  </div>
</body>
</html>
