<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Book cover finder</title>
  <link rel="stylesheet" href="css/book_cover_finder.css">
</head>
<body>
  <nav href="/">Home</nav>
  <h1>Welcome to Book Cover finder</h1>
<%= yield %> <-----content goes here--------->




</body>
</html>
