<h1>New Dinosaur</h1>

<form action="<%= dinos_path %>" method="post">

  Name:
  <label>
    <input type="text" name="name">
  </label>

  Scientific Name:
  <label>
    <input type="text" name="scientific_name">
  </label>

  Location:
  <label>
    <input type="text" name="location">
  </label>

  Diet:
  <label>
    <input type="text" name="diet">
  </label>

  Date:
  <label>
    <input type="number" name="date_time">
  </label>

  Size:
  <label>
    <input type="number" name="size">
  </label>

  Weight:
  <label>
    <input type="number" name="weight">
  </label>

  Image:
  <label>
    <input type="url" name="image">
  </label>

  <button>Create Dinosaur</button>

</form>
