@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

body {
  background-color: black;
  color: white;
  text-align: center;
}

h1 {
  font-family: 'East Sea Dokdo', cursive;
  font-size: 5rem;
}

img {
  max-width: 700px;
}

nav a, a {
  color: lightblue;
}
