/* // Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/ */
body{
  background-color: skyblue;
}
#main{
  width:500px;
  height:500px;
  margin:0 auto;
}
input{
  width:400px;
}
#secret{
  width:50px;
}
a{
  text-decoration: none;
  padding: 10px;
  margin: 0 auto;
}
.answer{
  height:500px;
  width:500px;
  font-size: 50px;
  border-radius: 100%;
  background-color: white;
  line-height: 10;
  text-align: center;
}
