<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Results</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <div>
        <p>The price for <strong><%= query %></strong> is $<%= stonks %><%= currency %></p> 
    </div>
    <a href="/"><button>MORE STONKS</button></a>
  
</body>
</html>