<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if (typeof error !== 'undefined') { %>
    <link rel="stylesheet" href="/css/error.css">
    <% } else { %>
    <% } %> 
    <title>Stock Search </title>
</head>

<body>
    <form action="/result">
        <label for="">
            Stock Symbol:
            <input type="text" placeholder="Search for stock" name="stock">
        </label>
        <button>Search for Stonk</button>
    </form>

     <% if (typeof error !== 'undefined') { %>
    <h1>Got dem big time stonks error my man</h1>
    <% } %>
</body>

</html>