<h1>The Magic EightBall</h1>

<form action="/eightball/predict">

    <!-- <label for="guess"> What is your magical question?
        <input type="search" name="guess">
    </label> -->

    <button>Get your Prediction</button>

</form>