<h1>Magic 8-ball</h1>
<form action="/magic_ball/answer" method="post">
  <label>
    Ask me a question:
    <input type="text" name="question" placeholder='Will I become rich and famous?'>
  </label>
  <button>Ask</button>
</form>
