<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/css/movies.css">
</head>
<body>

  <div class="container">

    <nav>
      <div class="nav1">
        <a href="/movies">All Movies</a>
      </div>
      <div class="nav2">
        <a href="/movies/new">New Movies</a>
      </div>
    </nav>
  <div class="flex">
  <%= yield %>
  </div>
  </div>
</body>
</html>
