<h2>New Movies To Add</h2>

<form action="/movies" method="post">
<label>
  Name:
  <input name="name" placeholder="Titanic" required>
</label>

<label>
  Release Year:
  <input name="release_year" placeholder="1997">
</label>

<label>
  Small Plot:
  <input name="small_plot" placeholder="this film is">
</label>

<label>
  Cover:
  <input type="url" name="poster" placeholder="http://...">
</label>

<button>Add Movie</button>
</form>
