* {
  box-sizing:border-box;
}


body {
  background-color: pink;
  text-align: center;
}

h1 {
  background-color: yellow;
  height:60px;
  padding:20px;
  width:100%;
  line-height: 5px;
}

nav {
  background-color: green;
    width:100%;
}

div {
  background-color: grey;
  display:inline-block;
  width:300px;
  height:300px;
  font-size: 20px;
  padding:10px;
  line-height: 50px;
  margin:10px;
}

span {
  visibility: hidden;
}

div:hover {
  background-color: yellow;
}

div:hover span {
  visibility: visible;
  color: green;
  transition:2s all;
}
