
<form action="/talks" method = post >
  <p>Fill in the form to add your favorite talk to the list!</p>
  <label>
    Title:
    <input type="text" name = 'title' placeholder = 'Examined Life' required>
  </label>

  <label>
    People:
    <input type="text" name = 'people' placeholder = 'Judith Butler, Susan Taylor' required>
  </label>

  <label>
    Youtube Embedded Link:
    <input type="text" name = 'video' placeholder = 'https://www.youtube.com/embed/...' required>
  </label>

  <button>Add Talk</button>
</form>
