<h2>Magic 8 Ball</h2>

<form action="/balls/answer">
  <label>
  You asked:
  <input type="text" name="question" required placeholder="Your question please....">
  </label>
  <button>Try your future</button>

</form>
