body {
	text-align: center;
}

table {
	width: 75%;
	margin: 25px auto;
}

th,
td {
	text-align: justify;
}

.controls {
	width: 75%;
	display: flex;
	justify-content: space-evenly;
	margin: 30px auto;
}
