<!-- <img src="/images/F1.svg" alt="Formula 1 Logo" class="img-thumbnail"> -->
<div class="" id="home-banner">
  <a href="/teams">
    <div id="home-teams" class="">Teams</div>
  </a>
  <a href="/drivers">
    <div id="home-drivers" class="">Drivers</div>
  </a>
</div>

