<h1>Secret Number</h1>

<h3>Computer says: I have generated a number.</h3>

<form action='/secret_number/result'>
  <label>Computer says: Can you guess the number I generated, between 0-10: </label>
  <input type='number' name='player_guess' placeholder='ie. 7'>
  <button>Guess</button>
</form>
