<h1>Secret Number</h1>

<div>

  <h5>Your guess was: <%= @player_guess %> </h5>

  <h5>My number was: <%= @secret_number %> </h5>

  <p><%= @message %></p>

  <a href='/secret_number/generate'>Guess again</a>

</div>
