body {
	background-color: beige;
	text-align: center;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	max-height: 100px;
}

.container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-items: center;
}

.inventory {
	color: black;
	font-size: 25px;
	display: flex;
	flex-direction: column;
}

.inventory:hover,
#new-inventory:hover {
	background-color: rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 15px black;
}

.inventory img {
	max-width: 300px;
}

.container a {
	text-decoration: none;
	margin-bottom: 40px;
}

div.parent-home {
	display: flex;
	flex-direction: column;
}

div.home {
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 17px;
}

span.result {
	color: white;
	font-size: 1.5em;
	margin-left: 10px;
}

nav {
	width: 50%;
	max-width: 400px;
	margin: auto;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-evenly;
}

nav a {
	color: white;
	font-size: 30px;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

#new-inventory {
	width: 300px;
	height: 379px;
	font-size: 30px;
	display: flex;
	background-color: white;
	justify-content: center;
	align-items: center;
}

td {
	font-size: 20px;
	text-align: justify;
}

td:first-child {
	font-weight: bold;
}

#show {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.controls {
	width: 75%;
	height: 50%;
	font-size: 25px;
	margin-top: 40px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
}

.controls a {
	width: 3.7em;
	height: 1.3em;
	color: black;
}

.controls a:hover {
	border-radius: 20px;
	text-decoration: underline;
	box-shadow: 0 0 15px black;
}

.form form {
	height: 500px;
	font-size: 25px;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-end;
}

.form input {
	font-size: 20px;
	text-align: center;
}

.form button {
	font-size: 22px;
	font-weight: bold;
	width: 100%;
	height: 40px;
	border-radius: 20px;
}

.form button:hover {
	cursor: pointer;
	box-shadow: 0 0 15px black;
}
