@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  background-color: aliceblue;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

iframe {
  width: 60vw;
  height:70vh;
  display: block;
  margin:50px auto;
}

nav {
  background-color: #6666FF;
}

nav a, button a {
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  color:white;
  font-size:30px;
  text-decoration: none;
  padding:0 10px;
}

nav a:hover, ul li a:hover {
  text-decoration: underline;
  font-size:2.2em;
}

h1 {
  text-align: right;
  font-size: 3em;
}

h1, h2, h3 {
  font-family: 'Oswald', monospace;
}

button {
  background-color:#6666FF;
  color:white;
  font-family: 'Fjalla One', sans-serif;
}

.page {
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.page button {
  margin: 0 50px;
}

ul li a {
  font-family: 'VT323', monospace;
  font-size:25px;
  text-decoration:none;
}

form p {
  font-family: 'Fjalla One', sans-serif;
  font-size: 25px
}

form label {
  font-family: 'VT323', monospace;
  font-size: 20px;
  display:block;
  text-align: left;
  margin: 40px 0;
}

form label input {
  font-family: 'Fjalla One', sans-serif;
  border: 1px solid #6666FF;
}

form label input::placeholder {
  font-family: 'Fjalla One', sans-serif;
}

form button {
  font-size: 25px;
  text-transform: uppercase;
}
