body {
  background-color: white;
}

#dog1 {


}

#dog2 {
  position: absolute;
  top: 100px;
  display: none;
}

#dog3 {
  position: relative;
  visibility: hidden;
  top: 300px;
  width: 250px;
  /* transform: scaleX(-1); */
}

#dog5 {
  position: absolute;
  visibility: hidden;
  top: 550px;
  left: 600px;
  width: 200px;
  /* transform: scaleX(-1); */
}
