<h1>Rock Paper Scissors</h1>

<h2>Do you choose Rock, Paper or Scissors?</h2>

<form action="/rockpaperscissors/result">

<label>
  <label>
Your Guess:
  <select name="Rock">
  </select>
  <button>Submit</button>
</form>
