<h1>Magic 8 Ball</h1>

<form action='/magic8_ball/results'>
  <label>Ask me a question, let me make the decision for you.</label>
  <p>
    <input name='question' placeholder='Should I eat the thing I found in the fridge?' required>
  </p>
  <p>
    <button>Receive wisdom</button>
  </p>
</form>
