@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
body{
  background-color:lightgrey;
}
body img{
  width:100%;
  height:100%;
  padding:10px;
  font-style: font-family: 'Josefin Sans', sans-serif;

}
body h1{
  border:5px solid white;
  color: red;
  width:500px;
  height: 50px;
  padding:50px;
  text-align: center;
  position: absolute;
  top:60%;
  left:220px;
}

a{
  padding:10px;
}
i{
  font-size: 15px;
}
#navigation{
  padding:50px;
  position: absolute;
  top:0px;
  left: 320px;

}

.nav{
  border-bottom: 2px solid white;
  border-color: white;
  padding:10px;
  font-size: 20px;
  text-decoration: none;
  color:red;
  /* display: inline-block; */
  margin:0 10px 0 0;
  }
