<h1>New Post</h1>

<form action="/forum" method="post">
  <label>
    Username:
    <input name="username" placeholder="cooldude123" required>
  </label>

  <label>
    Comment:
    <input name="comment" placeholder="Nice" required>
  </label>

  <label>
    Image:
    <input type="url" name="image" placeholder="http://...">
  </label>

  <button>Create Post</button>
</form>
