<h2>New dish</h2>

<form action="/food" method="post">
  <label>
    Name:
    <input name="name" placeholder="Pho" required>
  </label>

  <label>
    Country of origin:
    <input name="country" placeholder="Vietnam">
  </label>

  <label>
    Image link:
    <input name="image" placeholder="http://..." type="url">
  </label>

  <button>Add new dish</button>
</form>
