<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/food.css">
    <title>FoodHub</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="/">Home</a>
      </nav>

      <h1>FoodHub</h1>

      <%= yield %>

    </div>
  </body>
</html>
