body {
  background-color: black;
  text-align: center;
  line-height: 20px;
  color: white;
  /* background-color: #ffffff; */
  font-family: "Tahoma", "Verdana", "Helvetica", "Arial", sans-serif
}

h1 {
  margin-top: 230px;
  font-size: 40px;
}

form {
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; */
  display: inline-block;
  margin: 0 auto;
  padding: 0;

}

button {
  font-size: 14px;
  padding: 11px 19px;
  font-size: 17.5px;
  border-radius: 6px;
  color: white;
}

.yes {
  background-color: #5bb75b;
  margin: 0 15px;
}

.no {
  background-color: #da4f49;
  margin: 0 15px;
}

.done {
  background-color: #006dcc;
}

.row {
  display: block;
  text-align: center;
}
