.output {
    border: 1px solid #E1E1E1;
    background: white;
    border-radius: 4px;
    margin: 1rem 0;
    padding: 2.5rem 3rem;
    overflow: scroll;
}

.header img,
.header h2 {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
}

.header {
    margin-bottom: 2rem;
}

ul {
    list-style-type: none;
}

.alert {
    padding: 1rem;
    border-radius: 4px;
    margin: 1rem 0;
    color: black;
    font-size: 16px;

}

.warning {
    background-color: #f8d7da;
    ;
}

.loading {
    background-color: black;
    color: white;
}

.hidden {
    display: none;
}

.container {
    padding: 5rem;
}