<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sophie Wilson</title>
    <link rel="stylesheet" href="css/layout.css">
  </head>
  <body>


    <div class="container">
     <header>
     <nav>
     <a class="inside" href="#">Home</a>
     <a class="inside" href="#">Projects</a>
     <a class="inside" href="#">Galleries</a>
     <a class="inside" href="#">Contact Us </a>
   </nav>

     <h1>Sophie Wilson</h1>

     </header>

     <main>
       <h2>Who She is?</h2>
         <P>Sophie Mary Wilson is a computer scientist,
           who helped design the BBC Micro and ARM architecture. Sophie Wilson’s interest in computing started at a young age.
           Her computer designs were used to create the first home-computer sold by Acorn in Britain.
           The programming language that she developed for the Acorn computer was later sold to the BBC for its computer education project
         </P>

      <h2>Biography</h2>
         <P>She was born as a Roger Wilson in 1957 in Leeds, Englannd. She comes from a family of teachers.
           Wilson studied computer science at the University of Cambridge. During her studies, she created a a micro-computer,
           which fed cows according to the amount of food written on their electronic tags.
          </P>
         <P>
           In 1978, Wilson joined Acorn Computers, after designing a device to prevent cigarette lighter sparks. Her computer design was used the company to build the Acron Mirco-computer,
           the first of a long line of computers sold by the company.
           Later, she designed the Acorn System 1,
           the first computer sold to the public by a British company,
           along with the programming languages complementing it, Acorn Assembler, Acorn BASIC and Atom BASIC.
           Sophie Wilson and her collaborator, Steve Furberm, built a BBC prototype machine within one week and
           extended the previous programming languages to BBC BASIC,
           leading to the BBC agreeing a contract with Acorn and selling millions of microcomputers to schools.This contract was as part of the BBC's ambitious computer education project.
           The programming language was successively improved over the 15 year that Wilson was in charge of the project
            and is considered one of the great successes of personal computer programming languages.
       </p>
       <p> In 1983, Wilson started designing the Acorn RISC Machine (ARM) processor,
         which was released in 1985 and was used in 95% of the smartphones in 2012.
         She was a member of the board for Eidos, a technology and games company as well as a consultant of ARM after it split from Acorn.
          She is now the director of design in Broadcom company.
        </p>
     </main>
     <aside >
       <h3>Sophie Wilson</h3>
       <img src="images/sophie_wilson.png" alt="Sophie Wilson" width="250" height="330">

         <!-- <ul>
            <li class="box">Born:<span style="color: #ff0000">January 30, 2011</span></li>
            <li class="box">Nationality:</li>
            <li class="box">Education:</li>
            <li class="box">Career:</li>
         </ul> -->



         <table>
             <tr>
                 <th scope="col"></th>
                 <th scope="col"></th>


             </tr>
             <tr>
                 <th scope="row">Born</th>
                 <td>1957<br> Leeds, Yorkshire, England</td>

             </tr>
             <tr>
                 <th scope="row">Nationality</th>
                 <td>British</td>

             </tr>
             <tr>
                 <th scope="row">Education</th>
                 <td>Selwyn College, Cambridge <br> University of Cambridge</td>

             </tr>
             <tr>
                 <th scope="row">Career</th>
                 <td>University of Cambridge <br>
                      Broadcom Corporation <br>
                      Acorn Computers</td>
             </tr>

         </table>

       </aside>
      <p class="paragraph">
        Wilson is listed as one of the 15 most important technology women.
        She is also a Fellow of the Royal Society, a Fellow of the Royal Academy of Engineering, a Fellow of the British Computer Society,
        a Fellow of the Women’s Engineering Society and an honorary fellow of the Computer History Museum.
       </P>

      <div class="images">
       <img src="images/Sophie_Wilson2.png" alt="" width="300" height="200" padding-left: 40px;>
       </div>
       <div class="images">
       <img src="images/chip.png" alt="" width="300" height="200" >
     </div>

  </body>
</html>
