<h1>Magic 8 Ball</h1>

<form action="/magic/results">
  <label>
    Ask the Magic 8 Ball a question??
    <input name="question" placeholder="..." required>
  </label>
  <button>Get my Answer</button>
</form>
