<h1><%= params[:question] %></h1>

<% answer_array = ['Dunno ask joe','Whatchu say?','Death is probable','You are on a win','I dunno you are talking to a bowling ball','Bec says No!','Ask ya mother!'] %>
<% finalanswer = answer_array.sample %>

<h2>Magic ball says:   <%= finalanswer %>      </h2>
