@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&family=Piazzolla:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@200&display=swap');

body {
  background-color: black;
}

.toppart {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 75px;
  background-color: #171717;
}

.name {
  width: 320px;
  left: 20px;
  position: absolute;
  margin: auto 0;
}

#nav {
  display: inline-block;
  height: 50%;
  margin: auto 0;
  position: relative;
  width: 150px;
  left: 65%;
  top: 50%;
  color: white;
  font-family: 'Piazzolla', serif;
  font-size: 1.5em;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

.corner {
  position: absolute;
  top: 0;
  right: 0;
  width: 190px;
  height: 75px;
}

.cornerman {
  width: 190px;
  height: 75px;
}

h1 {
  font-family: 'Nanum Myeongjo', serif;
  color: white;
  position: absolute;
  margin-bottom: 0px;
  bottom: -70.0px;
}

.load {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  animation-name: sliding-vertically;
  animation-duration: 2.5s;
  animation-delay: 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes sliding-vertically {
  to {
    transform: translateY(-20in);
    visibility: hidden;
  }
}

.frontpage {
  position: relative;
  top: 75px;
  max-width: 640px;
  max-height: 905px;
  margin: auto;
}

.quote {
  position: absolute;
  top: 90px;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
.quotebox2 {
  position: absolute;
  width: 600px;
  height: 250px;
  background-color: black;
  top: 3000px;
  left: 630px;
  color: white;
  font-family: 'Piazzolla', serif;
  text-align: center;
  font-size: 2em;
}
.quotebox3 {
  position: relative;
  width: 1000px;
  height: 500px;
  background-color: black;
  top: 3300px;
  left: 230px;
  color: white;
  font-family: 'Piazzolla', serif;
  text-align: center;
  font-size: 2em;
  z-index: 30;
}


.main {
  position: relative;
  top: 1250px;
  max-width: 640px;
  max-height: 905px;
  margin: auto;
}

.mainquote {
  position: absolute;
  width: 350px;
  height: 250px;
  background-color: black;
  top: 600px;
  left: 145px;
  color: white;
  font-family: 'Piazzolla', serif;
  text-align: center;
  font-size: 1.5em;
}

.quotebox1 {
  position: absolute;
  width: 600px;
  height: 250px;
  background-color: black;
  top: 2500px;
  left: 630px;
  color: white;
  font-family: 'Piazzolla', serif;
  text-align: center;
  font-size: 2em;
}

.mcluhan {
  position: absolute;
  top: 100px;
  left: 150px;
  max-width: 337.5px;
  max-height: 200px;
  margin: auto;
  margin: 10px;
  border: 10px solid black;
  border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
}

.bio {
  position: absolute;
  top: 350px;
  background-color: black;
  color: white;
  font-family: 'Piazzolla', serif;
  font-size: 1.2em;
  text-align: center;
  width: 640px;
  height: 600px;
}

.library {
  position:absolute;
  left:0;
  right:0;
  margin:auto;
  top: 200px;
  background-color: black;
  width: 1600px;
  height: 700px;
  display: inline-block;
}

.book {
  height: 500px;
  width: 300px;
  margin-left: 10px;
}

#nav:hover, h1:hover {
  transform: scale(1.1);
}

.book:hover, .mcluhan:hover {
  opacity: 0.5;
}
