header {
  background-color: #000;
  height: 80px;
  color: #fff;
}

body {
  margin: auto;
}

#main {
  max-width: 950px;
}

ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
}

li a {
  text-decoration: none;
  margin: 32px 0;
  margin-right: 30px;
  color: #fff;
  display: inline-block;
}
