

body {
  text-align: center;
  color: orange;
  font-size: 2rem;
  background-image: url('https://images.wallpapersden.com/image/download/new-cool-swirl-4k-art_bGVtZWqUmZqaraWkpJRnamtlrWZpaWU.jpg');
}

.thumbnail {
  max-width: 30rem;
  border-radius: 50%;
}

.feature, .feature_song {
  max-height: 30em;
}
