<h1>Welcome to the games room</h1>

<ul>
  <a href="/magic"><li>Magic 8-Ball</li></a>
  <a href="/secret"><li>Secret Number</li></a>
  <a href="/rock_paper_scissors"><li>Scissors Paper Rock</li></a>
</ul>
