<h1>Let's play Scissors, Paper, Rock</h1>

<form action="/spr/throw">

<label for="choice">What's gonna be?

<label>Scissors<input type="radio" name="choice" value="Scissors"></label>
<label>Paper<input type="radio" name="choice" value="Paper"></label>
<label>Rock<input type="radio" name="choice" value="Rock"></label>

<button>Throw!</button>

</label>



</form>