<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welp</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.min.css">
    <link rel="stylesheet" href="/css/reviews.css">
  </head>
  <body>
    <h1>Movies</h1>
    <%= yield %>
  </body>
</html>
