<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welp</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.min.css">
    <link rel="stylesheet" href="<%= url("/css/reviews.css")%>">
  </head>
  <body>
    <nav>
      <a href="/">All Movies</a>
      <a href="/new">New Movie</a>
    </nav>
    <h1>Movies</h1>
    <%= yield %>
  </body>
</html>
