<h2>New Movie</h2>
<div class="form">
  <form action="/" method="post">
    <label>
      Title:
      <input type="text" name="name" placeholder="Citizen Kane">
    </label>
    <label>
      Year:
      <input type="number" name="year" placeholder="1941">
    </label>
    <br>
    <label>
      Genre:
      <input type="text" name="genre" placeholder="Drama">
    </label>
    <label>
      Image:
      <input type="url" name="image" placeholder="https://...">
    </label>
    <br>
    <label>Plot:</label>
      <textarea name="plot"></textarea>
    <button>Submit movie</button>
  </form>
</div>
