<h2>Search Form:</h2>
<form action="/result">
  <label for="book-title">Book Name:</label>
  <input id="book-title" type="text" placeholder="e.g. Harry Potter" name="title">
  <button>Search</button>
</form>
