<h2>Ask the Magic 8 Ball a Question</h2>

<form action="/magic8/result">
  <label>
    Question:
    <input type="text" name="question" required placeholder= "Enter Question">
  </label>
  <button>Get Answer</button>
</form>
