<h1>Magic 8 Ball</h1>

<h3>Ask the Magic 8 Ball a Question:</h3>

<form action="/magic8/result">
  <label>
    <input type="text" name="question" required placeholder= "Enter Question">
  </label>
  <button>Get Answer</button>
</form>
