<head>
    <title>Add Espresso.</title>
</head>


<div class="container">
    <h1>Add a new espresso.</h1>
    <div class="row">
        <form action="/coffee" method="POST" class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input name="product_name" type="text" class="validate">
                    <label for="product_name">Product Name</label>
                </div>
                <div class="input-field col s6">
                    <input name="roaster_name" type="text" class="validate">
                    <label for="roaster_name">Roaster</label>
                </div>
            </div>
            <button class="btn black">Add Coffee</button>
        </form>
    </div>
</div>