<h1>Add a new espresso</h1>
<form action="/butterflies" method="POST">
    <label for="product_name">Product Name<input type="text"  name="product_name" required></label>
    <label for="roaster_name">Roaster<input type="text" name="roaster_name"></label>
    <label for="roaster_link">Purchase Link<input type="url" name="roaster_link" placeholder="https://marketlane.coffee"></label>
    <button class="btn">Add Coffee</button>
</form>



<p># roaster_location TEXT
# price INTEGER,
# origins TEXT,
# roast_profile TEXT,
# tasting_notes TEXT,
# brew_notes TEXT,
# aron_rating INTEGER</p>