<head>
    <title><%= @coffee["product_name"] %> | <%= @coffee["roaster_name"] %></title>
</head>

<section class="hero-section">
    <img class="product-image"
        src="https://cdn.shopify.com/s/files/1/0027/8924/4991/products/154A6090_1024x1024@2x.jpg?v=1609810058" alt="">
    <div class="coffee-description">
        <h1><%= @coffee["product_name"] %></h1>
        <p><%= @coffee["roaster_name"] %> (Melbourne)</p>
        <p>ethiopian</p>
        <p>medium roast</p>
        <p>$22.00 per 250g bag</p>
        <p>rating: 4/10</p>
        <a target="_blank" class="buy-now" href="http://google/.com">buy now</a>
    </div>
</section>

<div class="container">
    <section class="text-section">
        <h3>Tasting Notes & Roast Profile</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure pariatur necessitatibus sapiente deleniti
            aliquid
            enim doloribus itaque, explicabo tempora consequatur perferendis, illo vel, blanditiis laborum esse quo
            veniam
            quam aspernatur?
            Distinctio placeat incidunt, qui deleniti sit veniam aspernatur debitis molestiae dolorem quisquam aliquid
            est
            pariatur laborum! Sapiente dignissimos tempore, atque eius ab iste. Non quidem voluptatibus blanditiis
            delectus
            reprehenderit exercitationem.
            Facilis aliquid, dignissimos asperiores alias labore, nisi, vitae vero deleniti consequuntur ea laboriosam
            officiis itaque assumenda facere?</p>
    </section>

    <section class="text-section">
        <h3>Brew Guide</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure pariatur necessitatibus sapiente deleniti
            aliquid
            enim doloribus itaque, explicabo tempora consequatur perferendis, illo vel, blanditiis laborum esse quo
            veniam
            quam aspernatur?
            Distinctio placeat incidunt, qui deleniti sit veniam aspernatur debitis molestiae dolorem quisquam aliquid
            est
            pariatur laborum! Sapiente dignissimos tempore, atque eius ab iste. Non quidem voluptatibus blanditiis
            delectus
            reprehenderit exercitationem.
            Facilis aliquid, dignissimos asperiores alias labore, nisi, vitae vero deleniti consequuntur ea laboriosam
            officiis itaque assumenda facere?</p>
    </section>
</div>

<footer>
    <div class="container">
        <a class="footer-link" href="/">Fav coffees</a>
        <a class="footer-link" href="/coffee">Dashboard</a>
        <a class="footer-link" href="/coffee/new">Add a coffee</a>
    </div>
</footer>