<div class="container">
    <h1>Aron's Favourite Espressos</h1>
    <div class="wrapper">
        <div class="post-grid">
            <% @coffees.each do |coffee| %>
            <a class="post-card" href="/coffee/<%= coffee["id"] %>">
                <div class="post-content">
                    <span class="title"><%= coffee["product_name"] %></span>
                    <p><%= coffee["roaster_name"] %></span>
                    <p>$<%= coffee["price"] %> per 250g</span>
                </div>
            </a>
            <% end %>
        </div>
    </div>
</div>