<h2>Rocks Paper Scissors</h2>

<form action="/rock-paper-scissors/result" method="get">

  <label>
    Rocks paper scissors! Choose your weapon:
    <select name="throw">
      <option value="Rock">Rock</option>
      <option value="Paper">Paper</option>
      <option value="Scissors">Scissors</option>
    </select>
  </label>

  <button>Go go!</button>

</form>
