<h1>Add New Director</h1>

<form action="/directors" method="post">
  <label>
    Movie Director's Name:
    <input name="name" placeholder="Enter name here" required>
  </label>

  <label>
    Image:
    <input type="url" name="image" placeholder="http://...">
  </label>

  <button>Add Director</button>
</form>
