<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Directors & Movies</title>
    <link rel="stylesheet" href="/css/directorsmovies.css">
  </head>
  <body>
    <div class="container">
    <nav>
      <a href = "/directors">All Directors</a>
      <a href = "/directors/new">Add New Directors</a>
      |
      <a href = "/movies">All Movies</a>
      <a href = "/movies/new">Add New Movies</a>
  </nav>
    <%= yield %>
  </div>

  </body>
</html>
