@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(0, 0, 0, .80);
  padding: 15px;
  margin: 0 auto;
  color: white;
}

a {
  text-decoration: none;
  text-decoration: underline;
  color: white;
}

body {
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

h1 {
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

form, p {
  text-align: center;
  padding: 20px;
  margin: 0 auto;
}

img {
  display: block;
  margin: 20px auto;
}

span {
  font-weight: bold;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0;
}
