<h1>Feeling lucky punk?</h1>

<form action="/guess/result">

<label for="guess">
    So, what's your guess then? Anything 1 to 100 
    <input type="text" name="guess" placeholder="Come on, don't have all day.">

    <button>Guess</button>
</label>



</form>