@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');


body {
  background-color: #555;
  color: white;
  font-family: 'Amatic SC', cursive;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 4em;
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  margin: 20px;
}

button, input {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1em;
}

img {
  margin: 5px;
}
