<h2 class="page-heading">Secret Number</h2>

<p>You guessed <%= @guess %>. Wrong number, try again!</p>

<form action="/games/secret_num_game/retry">
  <input class="secret" type="number" name="secret_num" value="<%= @secret_num %>">
  <label for="secret_num">Guess a Number: </label>
  <select id= "secret_num" name="guess">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
  </select>
  <button id="retry-button">Submit</button>
</form>
