body {
  font-family: 'Helvetica', sans-serif;
  margin: 0 auto;
  position: relative;
  max-width: 750px;
  text-align: center;
  background-color: #0039A6;
  color: #ffffff;
  position: relative;
}

.contents-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 35px;
  border-radius: 30px;
  border-style: solid;
  border-width: 2px;
}

h1 {
  margin-bottom: 30px;
}

p {
  font-size: 14px;
  margin-bottom: 30px;
  line-height: 25px;
}

.input-container{
  display: inline-block;
}

.input-individual {
  padding-bottom: 10px;
  display: inline-block;
  position: relative;
}

input {
  width: 140px;
  outline: none;
  margin-left: 10px;
  padding: 10px 20px 10px 20px;
  color: #ffffff;
  background-color: #0039A6;;
  border-radius: 20px;
  border-style: solid;
  border-color: #ffffff;
  text-align: center;
}

button {
  padding: 10px 20px 10px 20px;
  color: #ffffff;
  background-color: #0039A6;;
  border-radius: 20px;
  border-style: solid;
  border-color: #ffffff;
  cursor: pointer;
  outline: none;
  margin-top: 10px;
  transition: .15s;
  font-weight: 700;
}

button:hover {
  color: #0039A6;
  background-color: #ffffff;
}
