<h2>New Cloud</h2>
<form action="<%= clouds_path %>" method = 'post'>
  <label>
    Name:
    <input type="text" name='name' required>
  </label>
  <label>
    Height:
    <input type="text" name = 'height'>
  </label>
  <label>
    Color:
    <input type="text" name = 'color'>
  </label>
  <label>
    Shape:
    <input type="text" name = 'shape'>
  </label>
  <label>
    Weather:
    <input type="text" name = 'weather'>
  </label>
  <button>Create New Cloud</button>
</form>
