<h1>Guess the magic number.. if you think you're game.</h1>

<p>
<a href="/guess/1">1</a>
</p>

<p>
<a href="/guess/2">2</a>
</p>

<p>
<a href="/guess/3">3</a>
</p>

<p>
<a href="/guess/4">4</a>
</p>

<p>
<a href="/guess/5">5</a>
</p>

<p>
<a href="/guess/6">6</a>
</p>

<p>
<a href="/guess/7">7</a>
</p>

<p>
<a href="/guess/8">8</a>
</p>

<p>
<a href="/guess/9">9</a>
</p>

<p>
<a href="/guess/10">10</a>
</p>