<h1>Magic 8 Ball</h1>

<form action="/magic/result">
  <label>What do you want to know about your future? </label> <br>
  <input name="question" placeholder="Should I do homework tonight?" style="width:20em" required>
  <button>Get answer!</button>
</form>
