<h1>All Authors</h1>
<% @authors.each do |author| %>
<%= imag_tag author.image, :class =>'thumb', :alt =>author.name if author.image.present?  %>
<ul>
  <li>Name: <%= link_to author.name, author %></li>
  <li>Nationality: <%= author.nationality %></li>
  <li>Genre: <%= author.genre %></li>
</ul>
<% end %>
