<h1>Find your book</h1>
<form action="/res">
    <label for="title">Book Title</label>
    <input type="text" placeholder="Book Title" name="title">
    <button type="submit">Get Book</button>
</form>