<div class="container">
  <form>
    <div class="row">
      <div class="six columns">
        <label for="title">Movie Title</label>
        <input class="u-full-width" type="text" placeholder="" name="title">
      </div>
      <div class="six columns">
        <label for=""></label>
        <input class="u-full-width" type="text" placeholder="" name="">
      </div>
    </div>

    <div class="row">
      <div class="six columns">
        <label for=""></label>
        <input class="u-full-width" type="text" placeholder="" name="">
      </div>
      <div class="six columns">
        <label for=""></label>
        <input class="u-full-width" type="text" placeholder="" name="">
      </div>
    </div>
    <input class="button-primary" type="submit" value="Add New Movie">
  </form>
</div>  