
  <form action="/result">
    <label>
      Enter the title of the book you're searching for:
      <input type="text" placeholder="Click here" name="title">
    </label>

    <button>Submit</button>

  </form>
