<h2>Add A New Plane</h2>

<div class="container">
  <form action="/add" method="post">
    <label for="plane_name">Enter the plane's name:</label>
    <input id="plane_name" name="name" placeholder="Yakovlev Yak 3" required>
    <label for="plane_role">Enter the plane's role:</label>
    <input id="plane_role" name="role" placeholder="Fighter">
    <label for="plane_speed">Enter the plane's max speed (in knots):</label>
    <input id="plane_speed" name="max_speed" placeholder="354">
    <label for="plane_image">Enter a url for an image of the plane:</label>
    <!-- I made the images required, because I got sick of seeing the error icon when the image didn't load -->
    <input id="plane_image" name="image" placeholder="https://" required>
    <button class="submit">Submit</button>
  </form>

  <!-- I should add a cancel button that makes the form go away without submitting it-->
</div>
