<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include('partials/head') %>
  <body>
<%- include('partials/nav')  %>

<h2>Stock coming soon</h2>
<h3><%= symbol %> last traded at <%= price %></h3>
  </body>
</html>
