<h1>New Author</h1>

<form action="/authors" method="post">

<label>
  Name:
  <input type="text" name='name' placeholder="author's name" required>
</label>

<label>
  Country:
  <input type="text" name='country' placeholder="author's country" >
</label>

<label>
  Image:
  <input type="url" name='image' placeholder='http://......' >
</label>

<button>Add New Author</button>

</form>
