<h2>Edit book</h2>

<form action="/books/<%= @book.id %>" method="post">

<label>
  Name:
  <input type="text" name='title' placeholder="book's title" required>
</label>

<label>
  Year:
  <input type="text" name='year' placeholder="author's country" >
</label>




<label>
  Books Cover Image:
  <input type="url" name='image' placeholder='http://......' >
</label>

<button>Update book</button>

</form>
