<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Authors and Books</title>
  <link rel="stylesheet" href="/css/atom.css">
</head>
<body>
  <div class="container">
    <nav>
      <a href="/authors">Index of All Authors</a>
      <a href="/authors/new">Add New Author</a>
      |
      <a href="/books">All Books</a>
      <a href="/books/new">Add New Book</a>
    <nav>
    <%= yield %>
  </div>
</body>
</html>
