<h1>New Mountain</h1>

<form action="<%= mountains_path %>" method="post">
  <label>
    Name:
    <input name="name" placeholder="..." required>
  </label>

  <label>
    Height:
    <input type="number" name="height" placeholder="..." required>
  </label>

  <label>
    image:
    <input type="url" name="image" placeholder="http://....">
  </label>

  <label>
    Weight:
    <input type="number" name="weight" placeholder="...">
  </label>
  <button>Create Mountain</button>
</form>
