<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">
  <title>Spooferfy</title>
</head>
<body>

  <h1>Spooferfy</h1>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/artists">Artists</a></li>
      <li><a href="/artists/create">Create Artist</a></li>
      <li><a href="/albums">Albums</a></li>
      <li><a href="/albums/create">Create Album</a></li>
    </ul>
  </nav>

  <div class="main-container">

    <%= yield %>

  </div>

</body>
</html>
