<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="stocks.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Stock price</title>
  </head>
  <body>
    <h1>Stocks price</h1>
    <form action="/result">
      <label>
        Enter stock symbol
        <input name="symbol" placeholder="AAPL">
      </label>
      <button>Go!</button>
    </form>
  </body>
</html>
