<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title></title>
  </head>
  <body>
    <h1>Stocks price</h1>
    <h3>Result coming soon</h3>
    <h3><%= symbol %></h3>
  </body>
</html>
