<h1>New Car</h1>
<form action="/cars" method="post">
   <label>
     Brand:
     <input name="brand" placeholder="eg...xyz" required>
   </label>
   <label>
     Model:
     <input name="model" placeholder="eg...xyz">
   </label>
   <label>
     Image:
     <input type="url" name="image" placeholder="http://...">
   </label>
   <button>Create a car</button>
</form>
