<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/cars.css">
  <title>Luxury Cars</title>
</head>
<body>
  <div class="container">
  <nav>
    <a href="/cars">All Luxury Cars</a>
    <a href="/cars/new">New Car</a>
  </nav>
  <%= yield %>
  </div>
</body>
</html>
