<h1>Secret Number</h1>

<h2>I'm thinking of a number between 0 and 10. What number am I thinking of?</h2>

<form action="/secretnumber/result">

<label>
  Your Guess:
  <input type="number" name="number" required placeholder="Enter number">
</label>
  <button>Submit</button>
</form>
