<div class="form">
  <h1>New Bicycle</h1>

  <form action="/bicycles" method="post">
    <label> Model:
      <input type="text" name="model" placeholder="Model of Bicycle">
    </label>
    <label> Manufacturer:
      <input type="text" name="manufacturer" placeholder="Bicycle Manufacturer">
    </label>
    <label> Description:
      <input type="text" name="description" placeholder="Description of Bicycle">
    </label>
    <label> Price:
      <input type="number" name="price" placeholder="Price">
    </label>
    <label> Image URL:
      <input type="text" name="image" placeholder="http://">
    </label>
    <button>Add To Bicycles</button>
  </form>
</div>
