<h2>Roll up roll up!</h2>

<p>Pick from a carni game below:</p>

<div class="home-nav">

<a class="home-button" href="/8-ball">Magic 8 Ball</a>

<a class="home-button" href="/secret-number">Secrt Number</a>

<a class="home-button" href="/rock-paper-scissors">Rock Paper Scissors</a>

</div>
