<h1>New Dish</h1>

<form action="<%= dishes_path %>" method="post">
  <label>Name:
    <input name="name" placeholder="Pizza" required>
  </label>

  <label>Image link:
    <input name="image" type="url" placeholder="http://...">
  </label>

  <label>Country of origin:
    <input name="country" placeholder="Italy">
  </label>

  <label>Common paired sauce:
    <input name="sauce" placeholder="None">
  </label>

  <label>Author's rating:
    <input name="rating" type="number" step="any" placeholder="1-10">
  </label>

  <label>Calories:
    <input name="calories" type="number" placeholder="300">
  </label>

  <button>Create dish</button>

</form>
