<h1>Add New Crystal</h1>

<form action="/crystals" method="post">
  <label>
    Crystal Name:
    <input type="text" name="name" placeholder="Enter name here" required>
  </label>

  <label>
    Apparent Healing Properties:
    <input type="text" name="healingprop" placeholder="Describe Crystal's healing properties">
  </label>

  <label>
    Image URL:
    <input type="url" name="image" placeholder="http://...">
  </label>
<button>Add Crystal</button>
</form>
