<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Crystals</title>
    <link rel="stylesheet" href="/css/crystals.css">
  </head>
  <body>
    <div class="container">
    <nav class="navigate">
      <a href="/">Home</a>
      <a href="/crystals">All Crystals</a>
      <a href="/crystals/new">Add New Crystals</a>
    </nav>
    <%= yield %>
  </div>

  </body>
</html>
