<h1>Secret Number</h1>

<h2>A secret number has been successfully generated!</h2>

<form action="/secret_number/result">
  <label>Take a guess (0-10): </label>
  <input type="number" name="number_input" placeholder="eg: 2">
  <button>Guess</button>
</form>
