<h1>Let's play some games</h1>

<nav>
    <ul>
        <li><a href="/eightball">Ask the magic eightball</a></li>
        <li><a href="/guess">Guess a number</a></li>
        <li><a href="/spr" disabled>Scissors, Paper Rock (Coming Soon)</a></li>
    </ul>
</nav>