<h2>Magic 8 Ball 🎱</h2>

<form action="/8-ball/result" method="get">

  <label>
    What would you like to ask the Magic 8 Ball?
    <input type="text" placeholder="Will I make it?" required name="question" value="<%= params[:question] %>">
  </label>

  <button>Find out</button>

</form>

<p>You asked:</p>

<p><%= @answer %></p>

<p><%= @random_phrase %></p>
